<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/5f50a1b10c.js" crossorigin="anonymous"></script>
    <style>
        i {
            padding-right: 16px;
        }
    </style>

    <title>Director List</title>
</head>
<body>

<div th:fragment="navBar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Movies</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#" th:href="@{/}">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#" th:href="@{/allDirectors}">Directors<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#" th:href="@{/allMovies}">Movies<span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Add
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#" th:href="@{/newdirector}">New Director</a>
                        <a class="dropdown-item" href="#" th:href="@{/newmovie}">New Movie</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>

            </ul>
        </div>
    </nav>
</div>


<h1>Director List</h1>

<div th:each="director : ${directors}">
    <a href="#" th:href="@{/directorDetail/{id} (id=${director.id})}"><h2 th:text="${director.name}"></h2></a>
    <a href="#" th:href="@{/directorDetail/{id} (id=${director.id})}"><i class="fas fa-search"></i></i></a>
    <a href="#" th:href="@{/updateDirector/{id} (id=${director.id})}"><i class="fas fa-user-edit"></i></a>
    <a href="#" th:href="@{/deleteDirector/{id} (id=${director.id})}"><i class="fas fa-user-minus"></i></i></a>
    <h6 th:inline="text">specializing in [[${director.genre}]]</h6>

    <ul>
        <th:block th:each="movie : ${director.movies}">
            <li th:inline="text">
                <a href="#" th:href="@{/movieDetail/{id} (id=${movie.id})}"><b>[[${movie.title}]]</b></a> released in [[${movie.year}]].
                <a href="#" th:href="@{/movieDetail/{id} (id=${movie.id})}"><i class="fas fa-search"></i></i></a>
                <a href="#" th:href="@{/updateMovie/{id} (id=${movie.id})}"><i class="fas fa-pencil-alt"></i></a>
                <a href="#" th:href="@{/deleteMovie/{id} (id=${movie.id})}"><i class="fas fa-backspace"></i></a>
            </li>

        </th:block>

    </ul>


</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>